<!-- section password -->
<section class="row forrgot_section section align-items-center">
  <div class="col-12 d-flex flex-column align-items-center">
    <h1><%= __('forggot_password') %></h1>
    <p><%= __('forggot_password_text') %></p>
  </div>
  <div class="col-4 d-none d-md-block samp__img__container">
    <img class="samp__img" src="/assets/forggot.svg" alt="login" />
  </div>

  <form
    class="col-12 col-md-6 forggot_password_form forggot_password"
    id="forggot_form"
  >
    <div class="container">
      <div class="d-md-none">
        <img src="/assets/forggot.svg" alt="?" />
      </div>
      <label for="email_forggot"><b><%= __('email') %></b></label
      ><input
        id="email_forggot"
        type="text"
        placeholder="<%= __('email_placeholder') %> "
        name="email"
        required=""
      /><button class="forggotBtn primary_button" type="submit">
        <%= __('send') %>
      </button>
    </div>
  </form>
</section>
