<!-- section signup -->
<section class="row register_section section">
  <div class="col-12 d-flex flex-column align-items-center">
    <h1><%= __('register') %> </h1>
      <p><%= __('register_text') %> </p>
  </div>
  <div class="col-11 col-md-4 samp__img__container">
    <img class="samp__img" src="/assets/register.svg" alt="register" />
  </div>
  <form class="col-md-7 register_form form--register" >
    <div class="container col-12" style="width: 100%;">
      
      <label for="fName"><b><%= __('first_name') %> </b></label
      ><input
        id="fName"
        type="text"
        placeholder="<%= __('firstName_placeholder') %>"
        name="fName"
        required=""
      /><label for="lName"><b><%= __('last_name') %> </b></label
      ><input
        id="LName"
        type="text"
        placeholder='<%= __("lastName_placeholder") %>'
        name="LName"
        required=""
      /><label for="email"><b><%= __('email') %></b></label
      ><input
        id="email"
        type="text"
        placeholder="<%= __('email_placeholder') %>"
        name="email"
        required=""
      />
      <div style="width: 100%;">
      <label for="psw"><b><b><%= __('password') %></b></label
      ><input
        id="psw"
        type="password"
        placeholder="<%= __('password_placeholder') %>"
        name="psw"
        required=""
        width="100%"
      /><label for="psw-repeat"><b><%= __('repeat_password') %></b></label
      ><input
        id="psw-repeat"
        type="password"
        placeholder="<%= __('password_repeat_placeholder') %>"
        name="psw-repeat"
        required=""
      />
    </div>
      <p>
        <%= __('register_notice') %>
        <a href="#"> <%= __('terms_Condition') %> </a>.
      </p>
      <button class="registerbtn" type="submit"><%= __('Signup_btn') %></button>
    </div>
    <div class="container signin">
      <p>
        <%= __('already_have') %>  <a href="/login"> <%= __('login_btn') %> </a>.
      </p>
    </div>
  </form>
</section>
